@font-face {
	font-family: 'montserrat';
	src: url('../public/fonts/montserrat-bold-webfont.eot');
	src: url('../public/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../public/fonts/montserrat-bold-webfont.woff2') format('woff2'),
		url('../public/fonts/montserrat-bold-webfont.woff') format('woff'),
		url('../public/fonts/montserrat-bold-webfont.ttf') format('truetype'),
		url('../public/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('../public/fonts/montserrat-bolditalic-webfont.eot');
	src: url('../public/fonts/montserrat-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../public/fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
		url('../public/fonts/montserrat-bolditalic-webfont.woff') format('woff'),
		url('../public/fonts/montserrat-bolditalic-webfont.ttf') format('truetype'),
		url('../public/fonts/montserrat-bolditalic-webfont.svg#montserratbold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'montserrat';
	src: url('../public/fonts/montserrat-extralight-webfont.eot');
	src: url('../public/fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
		url('../public/fonts/montserrat-extralight-webfont.woff2') format('woff2'),
		url('../public/fonts/montserrat-extralight-webfont.woff') format('woff'),
		url('../public/fonts/montserrat-extralight-webfont.ttf') format('truetype'),
		url('../public/fonts/montserrat-extralight-webfont.svg#montserratextralight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('../public/fonts/montserrat-extralightitalic-webfont.eot');
	src: url('../public/fonts/montserrat-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../public/fonts/montserrat-extralightitalic-webfont.woff2') format('woff2'),
		url('../public/fonts/montserrat-extralightitalic-webfont.woff') format('woff'),
		url('../public/fonts/montserrat-extralightitalic-webfont.ttf') format('truetype'),
		url('../public/fonts/montserrat-extralightitalic-webfont.svg#montserratextralight_italic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'montserrat';
	src: url('../public/fonts/montserrat-italic-webfont.eot');
	src: url('../public/fonts/montserrat-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../public/fonts/montserrat-italic-webfont.woff2') format('woff2'),
		url('../public/fonts/montserrat-italic-webfont.woff') format('woff'),
		url('../public/fonts/montserrat-italic-webfont.ttf') format('truetype'),
		url('../public/fonts/montserrat-italic-webfont.svg#montserratitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'montserrat';
	src: url('../public/fonts/montserrat-regular-webfont.eot');
	src: url('../public/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../public/fonts/montserrat-regular-webfont.woff2') format('woff2'),
		url('../public/fonts/montserrat-regular-webfont.woff') format('woff'),
		url('../public/fonts/montserrat-regular-webfont.ttf') format('truetype'),
		url('../public/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'kaushan_script';
	src: url('../public/fonts/kaushanscript-regular-webfont.eot');
	src: url('../public/fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../public/fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
		url('../public/fonts/kaushanscript-regular-webfont.woff') format('woff'),
		url('../public/fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
		url('../public/fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
	font-weight: 400;
	font-style: normal;
}
