@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	@apply bg-[#0F1322] text-slate-100;
}

#__next {
	width: 100%;
	height: 100%;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
	color: inherit;
}

input {
	user-select: auto;
}
